/.idea/
/.terraform/
/.terraform.lock.hcl
/terraform.tfstate
/terraform.tfstate.backup
/.terraform.tfstate.lock.info
/test_project/.terraform.lock.hcl
/test_project/.terraform.tfstate.lock.info
/test_project/terraform.tfstate
