/.idea/
/terraform/test_project/.terraform.lock.hcl
/terraform/test_project/.terraform.tfstate.lock.info
/terraform/test_project/terraform.tfstate
/terraform/test_project/terraform.tfstate.backup
/terraform/test_project/.terraform/
/lib/
